body {
  background-color: aliceblue
}

h1 {
  text-align: center;
  font-family: monospace;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  color: rgb(97, 97, 97);
  margin-bottom: 2em;
}

h1 img {
  width: 60px;
  margin-right: 1em;
  top: 20px;
  position: relative;
}

p {
  margin: 0 2em 1em 2em;
}
